body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  background: #f0f0f2;
}

h1 {
  font-size: 48px;
}

h1 > span {
  text-decoration: underline;
}

a {
  color: #000323;
  text-decoration: none;
}

a.underline {
  border-bottom: 2px solid #888;
}

a:hover {
  color: #000323;
  border-color: #75CDDB;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  background: #fff;
  padding: 20px 20%;
}

section {
  padding: 20px 20%;
  background: #fff;
}

section.two-col {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

section > .left, section .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.grey {
  background: #f0f0f2;
  color: #000;
}

section.dark {
  background: #000323;
  color: #fff;
}

section.hero p {
  font-size: 24px;
  font-weight: 300;
}

.button {
  background: #23B8CC;
  color: #fff;
  display: inline-block;
  align-self: flex-start;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
  transition: background 0.1s ease-in-out;
}

.button:hover {
  color: #fff;
  background: #1b8b9a;
}

.code-wrapper {
  display: flex;
  margin-top: 10px;
}

.code {
  background: #000323;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.code-wrapper a {
  color: #fff;
  background-color: #23B8CC;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
}

:selection {
  color: #000;
  background: #23B8CC;
}

.input {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input > svg {
  margin-left: 20px;
  margin-right: 20px;
  color: #888;
}

.input a.link {
  flex: 1;
  color: #888;
  text-decoration: underline;
  padding: 10px 15px;
}

.input .input-button {
  background: #23B8CC;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}

@media(max-width: 768px) {
  section.two-col {
    flex-direction: column;
    gap: 0;
  }

  .input .input-button {
    display: none;
  }
}

@media(max-width: 1024px) {
  section, header {
    padding: 20px 5%;
  }
}